---
import { site } from '~/site'
import Layout from '~/layouts/Layout.astro'

const dirPrefix = '/public/'
const files = Object.keys(import.meta.glob('/public/**/*.pdf'))
	.map(path => path.startsWith(dirPrefix) ? path.substring(dirPrefix.length) : path)
---

<Layout>
	<h1>{site.title}</h1>

	<p>
		Fichiers en rapport avec l'association 2GETHER, le serveur Discord 2GETHER, les projets 2GETHER, et la communauté 2GETHER.
	</p>

	<ul class="links">
		<li>
			<a href="https://2gether-asso.fr">2gether-asso.fr</a>
		</li>
	</ul>

	{
		(files.length > 0)
		?
			<ul class="files">
				{
					files.map(file =>
						<li>
							<a href={`/${file}`}>{file}</a>
						</li>
					)
				}
			</ul>
		:
			<p>There are no files available.</p>
	}
</Layout>

<style lang="scss">
@reference '~/styles/tailwind.css';

*:last-child {
	@apply mb-0;
}

h1 {
	@apply text-4xl font-bold mb-4;
}

p {
	@apply text-xl mb-4;
}

ul {
	@apply list-none p-0 text-xl mb-4;

	&.links > li:before {
		content: '🔗';
	}

	&.files > li:before {
		content: '📄';
	}

	> li {
		@apply relative m-0 p-0;

		> a[href] {
			@apply border-b border-dotted border-gray-300;
			content: '';

			&:hover {
				@apply border-gray-700;
			}
		}
	}
}
</style>
